.score {
    position: relative;
    margin: 10px 0 10px 10px;
    // margin: 10px 0 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 10px;

    &__title {
        font-size: .8rem;
        font-weight: 800;
        line-height: 1;
    }

    &__counter {
        font-size: 2rem;
        line-height: 1;
        font-weight: 500;
    }

    &__button {
        background: transparent;
        color: white;
        line-height: 1;
        height: 10px;
        font-size: .8rem;
        font-weight: 800;
        border: none;
        &:hover {
            opacity: .8;
        }
    }
}