.footer {
    p {
        font-weight: 600;
        color: #d6d6d6;
        a {
            color: white;
            text-decoration: none;
            color: #d6d6d6;
            &:hover {
                color: white;
                transition: .2s;
            }
        }
    }

    &-link-logo {
        background-color: #d6d6d6;
        border-radius: 5px;
        width: 60px;
        height: 25px;
        padding: 2px 5px;
        margin-left: 5px;
        &:hover {
            background-color: white;
            transition: .2s;
        }
    }
}